openapi: 3.0.0
info:
  title: Chleb Bible Search
  description: Query the bible, or get a verse of the day.
  version: 0.8.1
servers:
  - url: https://chleb-api.daybologic.co.uk
    description: Published API, production
paths:
  /1/votd:
    get:
      summary: Verse of The Day
      operationId: getVotd
      description: Retrieve one verse from The Bible, at random.
      parameters:
        - in: query
          name: when
          schema:
            type: string
            default: (current date)
            example: 2024-07-29T23:35:31+0100
          required: false
          description: Date in ISO-8601, for viewing previous verses of the day
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /2/votd:
    get:
      summary: Verse(s) of The Day
      operationId: getVotd2
      description: Retrieve a series of verses from The Bible, at random.
      parameters:
        - in: query
          name: when
          schema:
            type: string
            default: (current date)
            example: 2024-07-29T23:35:31+0100
          required: false
          description: Date in ISO-8601, for viewing previous verses of the day
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/search:
    get:
      summary: Bible search
      operationId: search
      description: Search for criteria in the whole bible
      parameters:
        - in: query
          name: term
          schema:
            type: string
          required: true
          description: Critereon for search
        - in: query
          name: limit
          schema:
            type: integer
            default: 5
          required: false
          description: Maximum number of results
        - in: query
          name: wholeword
          schema:
            type: boolean
            default: false
          required: false
          description: Require whitespace or end of verse after the requested term
      security: [] # No security
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '400':
          description: Bad request
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/lookup/{book}/{chapter}/{verse}:
    get:
      summary: Bible lookup
      operationId: getVerse
      description: Look up a specific verse
      parameters:
        - in: path
          name: book
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          description: Book of the bible
        - in: path
          name: chapter
          schema:
            type: integer
          required: true
          description: Chapter within book (ordinal)
        - in: path
          name: verse
          schema:
            type: integer
          required: true
          description: Verse within chapter (ordinal)
      security: [] # No security
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '400':
          description: Bad request
        '404':
          description: Verse not found
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
components:
  schemas:
    Verse:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: ["verse"]
        attributes:
          type: object
          properties:
            book:
              type: string
              description: Book in which this verse appears
              example: "Gen"
            chapter:
              type: integer
              description: Chapter number in which verse appears
              example: 6
            ordinal:
              type: integer
              description: Verse number within chapter
              example: 22
            text:
              type: string
              description: Verbatim and unedited text from the Holy Bible.
              example: Thus did Noah; according to all that God commanded him, so did he.
    Stats:
      type: object
      properties:
        id:
          type: string
        attributes:
          type: object
          properties:
            msec:
              type: integer
              description: ms for core request resolution, without overhead, for debugging core algorithm degradation and loading only
              example: 189
