openapi: 3.0.0
info:
  title: Chleb Bible Search
  description: Query the bible, or get a verse of the day.
  version: 0.10.0
servers:
  - url: https://chleb-api.daybologic.co.uk
    description: Published API, production
paths:
  /1/uptime:
    get:
      summary: Get server uptime
      operationId: getUptime
      description: The server uptime, as opposed to the service, ie. if the service is clustered, this value may not be a monotonically increasing number
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved server uptime
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Uptime'
        '429':
          description: Rate-limited
  /1/ping:
    get:
      summary: Ping the server to check if it is alive
      operationId: getPing
      description: Ping the server just to receive a very simple response, to check if it alive, with low overhead
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved pong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pong'
        '429':
          description: Rate-limited
  /1/version:
    get:
      summary: Get server version
      operationId: getVersion
      description: Get the version from the server.  The operation may be restricted by the server administrator
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved server version
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
        '403':
          description: Forbidden
        '429':
          description: Rate-limited
  /1/random:
    get:
      summary: Random Verse
      operationId: getRandom
      description: Retrieve one verse from The Bible, at random.
      parameters:
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/votd:
    get:
      summary: Verse of The Day
      operationId: getVotd
      description: Retrieve one verse from The Bible, for the given day
      parameters:
        - in: query
          name: when
          schema:
            type: string
            default: (current date)
            example: 2024-07-29T23:35:31+0100
          required: false
          description: Date in ISO-8601, for viewing previous verses of the day
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /2/votd:
    get:
      summary: Verse(s) of The Day
      operationId: getVotd2
      description: Retrieve a series of verses from The Bible, for the given day
      parameters:
        - in: query
          name: when
          schema:
            type: string
            default: (current date)
            example: 2024-07-29T23:35:31+0100
          required: false
          description: Date in ISO-8601, for viewing previous verses of the day
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/search:
    get:
      summary: Bible search
      operationId: search
      description: Search for criteria in the whole bible
      parameters:
        - in: query
          name: term
          schema:
            type: string
          required: true
          description: Critereon for search
        - in: query
          name: limit
          schema:
            type: integer
            default: 5
          required: false
          description: Maximum number of results
        - in: query
          name: wholeword
          schema:
            type: boolean
            default: false
          required: false
          description: Require whitespace or end of verse after the requested term
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
      security: [] # No security
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '400':
          description: Bad request
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/lookup/{book}/{chapter}/{verse}:
    get:
      summary: Bible lookup
      operationId: getVerse
      description: Look up a specific verse
      parameters:
        - in: path
          name: book
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          description: Book of the bible
        - in: path
          name: chapter
          schema:
            type: integer
          required: true
          description: Chapter within book (ordinal)
        - in: path
          name: verse
          schema:
            type: integer
          required: true
          description: Verse within chapter (ordinal)
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
      security: [] # No security
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '400':
          description: Bad request
        '404':
          description: Verse not found
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
components:
  schemas:
    Version:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["version"]
        attributes:
          type: object
          properties:
            version:
              type: string
              description: Version string in opaque, non-processable format
              example: 1.2.3-prerelease
            admin_email:
              type: string
              description: Email address to contact the server administrator
              example: example@example.org
            admin_name:
              type: string
              description: Nam of the server administrator
              example: Rev. Duncan Ross Palmer
            server_host:
              type: string
              description: Machine name
              example: sprat.example.org
    Pong:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["pong"]
        attributes:
          type: object
          properties:
            message:
              type: string
              description: a message whose content doesn't really matter
              example: Ahoy-hoy!
    Uptime:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["uptime"]
        attributes:
          type: object
          properties:
            uptime:
              type: integer
              description: Number of seconds since startup
              example: 90
            text:
              type: string
              description: Description of uptime in human-readable text
              example: 1 minute and 30 seconds
    Translation:
      type: string
      enum: ["all", "any", "asv", "kjv"]
      default: "kjv"
    Verse:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: ["verse"]
        attributes:
          type: object
          properties:
            book:
              type: string
              description: Book in which this verse appears
              example: "Gen"
            chapter:
              type: integer
              description: Chapter number in which verse appears
              example: 6
            ordinal:
              type: integer
              description: Verse number within chapter
              example: 22
            text:
              type: string
              description: Verbatim and unedited text from the Holy Bible.
              example: Thus did Noah; according to all that God commanded him, so did he.
            translation:
              $ref: '#/components/schemas/Translation'
    Stats:
      type: object
      properties:
        id:
          type: string
        attributes:
          type: object
          properties:
            msec:
              type: integer
              description: ms for core request resolution, without overhead, for debugging core algorithm degradation and loading only
              example: 189
