# Chleb Bible Search
# Copyright (c) 2024-2025, Rev. Duncan Ross Palmer (M6KVM, 2E0EOL),
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright notice,
#       this list of conditions and the following disclaimer.
#
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#
#     * Neither the name of the Daybo Logic nor the names of its contributors
#       may be used to endorse or promote products derived from this software
#       without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

openapi: 3.0.0
info:
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Chleb Bible Search
  description: Query the bible, or get a verse of the day.
  version: 2.1.0
servers:
  - url: https://chleb-api.daybologic.co.uk
    description: Published API, production
paths:
  /1/info:
    get:
      summary: Get global facts
      operationId: getInfo
      description: Get cachable information about translations, books, chapters, and verses available
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved info
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Info'
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Book'
                        - $ref: '#/components/schemas/Chapter'
                        - $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
  /1/uptime:
    get:
      summary: Get server uptime
      operationId: getUptime
      description: The server uptime, as opposed to the service, ie. if the service is clustered, this value may not be a monotonically increasing number
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved server uptime
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Uptime'
        '429':
          description: Rate-limited
  /1/ping:
    get:
      summary: Ping the server to check if it is alive
      operationId: getPing
      description: Ping the server just to receive a very simple response, to check if it alive, with low overhead
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved pong
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pong'
        '429':
          description: Rate-limited
  /1/version:
    get:
      summary: Get server version
      operationId: getVersion
      description: Get the version from the server.  The operation may be restricted by the server administrator
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved server version
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
        '403':
          description: Forbidden
        '429':
          description: Rate-limited
  /1/random:
    get:
      summary: Random Verse
      operationId: getRandom
      description: Retrieve one verse from The Bible, at random.
      parameters:
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
        - in: query
          name: testament
          schema:
            type: string
            enum:
              - any
              - old
              - new
            default: any
          required: false
          description: Only retrieve a verse from the given testament
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
        - in: query
          name: redirect
          schema:
            type: boolean
            default: false
          required: false
          description: Provide a 307 redirect to the appropriate verse lookup
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /2/random:
    get:
      summary: Random Verse
      operationId: getRandom2
      description: Retrieve one or more verses from The Bible, at random.
      parameters:
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
        - in: query
          name: testament
          schema:
            type: string
            enum:
              - any
              - old
              - new
            default: any
          required: false
          description: Only retrieve a verse from the given testament
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verses
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/votd:
    get:
      summary: Verse of The Day
      operationId: getVotd
      description: Retrieve one verse from The Bible, for the given day
      parameters:
        - in: query
          name: when
          schema:
            type: string
            default: (current date)
            example: 2024-07-29T23:35:31+0100
          required: false
          description: Date in ISO-8601, for viewing previous verses of the day
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
        - in: query
          name: redirect
          schema:
            type: boolean
            default: false
          required: false
          description: Provide a 307 redirect to the appropriate verse lookup
        - in: query
          name: testament
          schema:
            type: string
            enum:
              - any
              - old
              - new
            default: any
          required: false
          description: Only retrieve a verse from the given testament
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '307':
          description: Temporary Redirect
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /2/votd:
    get:
      summary: Verse(s) of The Day
      operationId: getVotd2
      description: Retrieve a series of verses from The Bible, for the given day
      parameters:
        - in: query
          name: when
          schema:
            type: string
            default: (current date)
            example: 2024-07-29T23:35:31+0100
          required: false
          description: Date in ISO-8601, for viewing previous verses of the day
        - in: query
          name: parental
          schema:
            type: boolean
            default: false
          required: false
          description: Skip over verse if it is marked as sensitive in the server configuration file, and return the next alternative
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
        - in: query
          name: testament
          schema:
            type: string
            enum:
              - any
              - old
              - new
            default: any
          required: false
          description: Only retrieve a verse from the given testament
      security: [] # No security
      responses:
        '200':
          description: Successfully retrieved verse
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/search:
    get:
      summary: Bible search
      operationId: search
      description: Search for criteria in the whole bible
      parameters:
        - in: query
          name: form
          schema:
            type: boolean
          required: false
          description: In text/html mode, display a form, and pre-fill values from your query
        - in: query
          name: term
          schema:
            type: string
          required: false
          description: Critereon for search, not required if you want the form mode, which is only valid in text/html mode
        - in: query
          name: limit
          schema:
            type: integer
            default: 5
          required: false
          description: Maximum number of results
        - in: query
          name: wholeword
          schema:
            type: boolean
            default: false
          required: false
          description: Require whitespace or end of verse after the requested term
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
      security: [] # No security
      responses:
        '200':
          description: Success
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '400':
          description: Bad request
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
  /1/lookup/{book}/{chapter}/{verse}:
    get:
      summary: Bible lookup
      operationId: getVerse
      description: Look up a specific verse
      parameters:
        - in: path
          name: book
          schema:
            oneOf:
              - type: string
              - type: integer
          required: true
          description: Book of the bible
        - in: path
          name: chapter
          schema:
            type: integer
          required: true
          description: Chapter within book (ordinal)
        - in: path
          name: verse
          schema:
            type: integer
          required: true
          description: Verse within chapter (ordinal)
        - in: query
          name: translations
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          required: false
          style: form
          explode: false
          description: Requested/accepted bible translations
      security: [] # No security
      responses:
        '200':
          description: Success
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verse'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stats'
        '400':
          description: Bad request
        '404':
          description: Verse not found
        '429':
          description: Rate-limited
        '500':
          description: Internal Server Error
        '502':
          description: Bad gateway
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
components:
  schemas:
    Book:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["book"]
        attributes:
          type: object
          properties:
            chapter_count:
              type: integer
              example: 28
            verse_count:
              type: integer
              example: 1071
            long_name:
              type: string
              example: "Matthew"
            testament:
              type: string
              enum: ["old", "new"]
            short_name:
              type: string
              example: "mat"
            translation:
              type: string
              example: "kjv"
            ordinal:
              type: integer
              example: 4
            sample_verse_text:
              type: string
              example: "The gates of the rivers shall be opened, and the palace shall be dissolved."
            sample_verse_chapter_ordinal:
              description: Which chapter the sample verse (sample_verse_text) came from
              type: integer
              example: 1
            sample_verse_ordinal_in_chapter:
              description: The sample_verse_text verse number within a the chapter (sample_verse_chapter_ordinal).
              type: integer
              example: 1
            short_name_raw:
              type: string
              example: "Mat"
    Chapter:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["chapter"]
        attributes:
          type: object
          properties:
            book:
              type: string
              example: "rev"
            verse_count:
              type: integer
              example: 404
            translation:
              type: string
              example: "asv"
            ordinal:
              type: integer
              example: 13
    Info:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["info"]
        attributes:
          type: object
          properties:
            book_count:
              type: integer
              description: How many unique books available to query, across all translations, ie. could be more than 66 depending on translations loaded
              example: 66
            book_names_long:
              type: array
              items:
                type: string
                description: The full name of the book, arbitary length
                example: II Corinthians
            book_names_short:
              type: array
              items:
                type: string
                description: The short name of the book, which is used in all REST-related queries
                example: 2cor
            book_names_short_raw:
              type: array
              items:
                type: string
                description: The short name of the book, which is used for logging, backend lookups in the database, verse attributions
                example: 2Cor
            translation_count:
              type: integer
              description: How many translations are immediately available, includes core and plugin translations
              example: 2
            translations:
              type: array
              items:
                type: string
                description: Translations immediately available such as 'asv', 'kjv', and any additional translations loaded dynamically into the server, the reserved words 'any' and 'all' are not listed but are always available.
                example: asv
    Version:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["version"]
        attributes:
          type: object
          properties:
            version:
              type: string
              description: Version string in opaque, non-processable format
              example: 1.2.3-prerelease
            admin_email:
              type: string
              description: Email address to contact the server administrator
              example: example@example.org
            admin_name:
              type: string
              description: Nam of the server administrator
              example: Rev. Duncan Ross Palmer
            server_host:
              type: string
              description: Machine name
              example: sprat.example.org
    Pong:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["pong"]
        attributes:
          type: object
          properties:
            message:
              type: string
              description: a message whose content doesn't really matter
              example: Ahoy-hoy!
    Uptime:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: ["uptime"]
        attributes:
          type: object
          properties:
            uptime:
              type: integer
              description: Number of seconds since startup
              example: 90
            text:
              type: string
              description: Description of uptime in human-readable text
              example: 1 minute and 30 seconds
    Translation:
      type: string
      enum: ["all", "asv", "kjv"]
      default: "kjv"
    Verse:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: ["verse"]
        attributes:
          type: object
          properties:
            book:
              type: string
              description: Book in which this verse appears
              example: "Gen"
            chapter:
              type: integer
              description: Chapter number in which verse appears
              example: 6
            ordinal:
              type: integer
              description: Verse number within chapter
              example: 22
            text:
              type: string
              description: Verbatim and unedited text from the Holy Bible.
              example: Thus did Noah; according to all that God commanded him, so did he.
            translation:
              $ref: '#/components/schemas/Translation'
    Stats:
      type: object
      properties:
        id:
          type: string
        attributes:
          type: object
          properties:
            msec:
              type: integer
              description: ms for core request resolution, without overhead, for debugging core algorithm degradation and loading only
              example: 189
