server {
	server_name chleb-api.example.org; # Replace with your domain

	root /var/www/tutorial;

	location / {
		include fastcgi_params;

		if ($request_method = OPTIONS) {
			return 204;
		}

		fastcgi_pass unix:/var/run/chleb-bible-search/sock;
		fastcgi_param SCRIPT_NAME "";
		proxy_ssl_server_name off;
	}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/chleb-api.example.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/chleb-api.example.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = chleb-api.example.org) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


	listen 80;

	server_name chleb-api.example.org;
    return 404; # managed by Certbot

}
