[Unit]
Description=Chleb Bible Search
After=network.target
Documentation=https://github.com/daybologic/chleb-bible-search/blob/master/README.md

[Service]
EnvironmentFile=-/etc/default/chleb-bible-search
ExecStart=/usr/bin/plackup --no-default-middleware -s FCGI --listen /var/run/chleb-bible-search/sock --nproc 20 -a /usr/share/chleb-bible-search/app.psgi
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
RestartPreventExitStatus=255
RuntimeDirectory=chleb
RuntimeDirectoryMode=0755
Type=exec
Nice=15
Restart=always
User=chleb

[Install]
WantedBy=multi-user.target
Alias=chleb-bible-search.service
