Source: chleb-bible-search
Section: contrib/perl
Priority: optional
Maintainer: Rev. Duncan Ross Palmer <2e0eol@gmail.com>
Build-Depends: debhelper (>= 13),
 libplack-perl,
Build-Depends-Indep:
 libdatetime-perl,
 libdatetime-format-strptime-perl,
 libdevel-cover-perl,
 libdigest-crc-perl,
 libdigest-sha-perl,
 libfile-nfslock-perl,
 libhttp-message-perl (>= 6.44-1),
 libjson-perl,
 libdancer2-perl,
 liblog-log4perl-perl,
 libmoose-perl,
 libmoosex-singleton-perl,
 libreadonly-perl,
 libredis-perl,
 libtest-deep-perl,
 libtest-exception-perl,
 libtest-mockmodule-perl,
 libtext-levenshteinxs-perl,
 libtext-markdown-perl,
 libtime-duration-perl,
 libuuid-tiny-perl,
 libyaml-libyaml-perl,
Standards-Version: 4.6.2
Homepage: https://bitbucket.org/2E0EOL/chleb-bible-search

Package: chleb-bible-search
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 bash (>= 5.2.15-2),
 jq,
 libdatetime-perl,
 libdatetime-format-strptime-perl,
 libdigest-crc-perl,
 libdigest-sha-perl,
 libfile-nfslock-perl,
 libhttp-message-perl (>= 6.44-1),
 libjson-perl,
 libdancer2-perl,
 liblog-dispatch-filerotate-perl,
 liblog-log4perl-perl,
 libmoose-perl,
 libmoosex-singleton-perl,
 libreadonly-perl,
 libredis-perl,
 libtext-levenshteinxs-perl,
 libtime-duration-perl,
 libuuid-tiny-perl,
 libyaml-libyaml-perl,
Replaces: libreligion-bible-verses-perl
Description: Chleb Bible Search - Bible Query Service
 For further information see:
 .
 https://github.com/daybologic/chleb-bible-search
 https://bitbucket.org/2E0EOL/chleb-bible-search
