Source: chleb-bible-search
Section: contrib/perl
Priority: optional
Maintainer: Rev. Duncan Ross Palmer <2e0eol@gmail.com>
Build-Depends: debhelper (>= 13),
 jq,
 libdbd-sqlite3-perl,
 libcrypt-xxhash-perl,
 libplack-perl,
Build-Depends-Indep:
 libdatetime-perl,
 libdatetime-format-strptime-perl,
 libcache-memcached-perl,
 libcrypt-xxhash-perl,
 libdbd-sqlite3-perl,
 libdbi-perl,
 libdevel-cover-perl,
 libdigest-crc-perl,
 libdigest-sha-perl,
 libfile-nfslock-perl,
 libhttp-message-perl (>= 6.44-1),
 libjson-perl,
 libdancer2-perl,
 liblog-log4perl-perl,
 libmoose-perl,
 libmoosex-singleton-perl,
 libreadonly-perl,
 libtest-deep-perl,
 libtest-exception-perl,
 libtest-mockmodule-perl,
 libtext-levenshteinxs-perl,
 libtext-markdown-perl,
 libtime-duration-perl,
 libuuid-tiny-perl,
 libyaml-libyaml-perl,
 libyaml-perl,
 pre-commit,
Standards-Version: 4.6.2
Homepage: https://bitbucket.org/2E0EOL/chleb-bible-search

Package: chleb-bible-search
Architecture: all
Depends: chleb-bible-search-core (= ${core:Version}), chleb-bible-search-dict-free (>= ${free:Version}),
 chleb-bible-search-thesaurus (>= ${thesaurus:Version})
Description: Chleb Bible Search - Bible Query Service (meta-package)
 This is a meta package that installs both the core bible search service, which provides the main
 functionality for searching within the Bible text, the public-domain translations, and the thesaurus data
 used for interpreting search queries.

Package: chleb-bible-search-core
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 bash (>= 5.2.15-2),
 jq,
 libcrypt-xxhash-perl,
 libplack-perl,
 libyaml-libyaml-perl,
 libyaml-perl,
 swaks,
Recommends:
 memcached,
 libredis-fast-perl | libredis-perl,
Replaces: libreligion-bible-verses-perl
Description: Chleb Bible Search - Bible Query Service
 For further information see:
 .
 https://github.com/daybologic/chleb-bible-search
 https://bitbucket.org/2E0EOL/chleb-bible-search

Package: chleb-bible-search-dict-free
Architecture: all
Depends: chleb-bible-search-core (>= ${core:Version})
Replaces: chleb-bible-search-dict
Description: Chleb Bible Search - Public domain translations
 This package contains the public domain translations used by the Chleb Bible Search
 service.
 .
 American Standard Version (1901)
 Douay-Rheims (1610)
 King James Version (1611)

Package: chleb-bible-search-thesaurus
Architecture: all
Depends: ${misc:Depends}
Description: Chleb Bible Search - global thesaurus
 This package contains the global thesaurus data used to expand search terms
 and provide relevant suggestions.

Package: chleb-bible-search-dict-pickthall
Architecture: all
Depends: chleb-bible-search-core (>= ${core:Version})
Description: Chleb Bible Search - Pickthall translation
 This package contains the Pickthall translation of the Quran used by the
 Chleb Bible Search service.
 .
 Pickthall (1930)
